<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Datasets</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Available Datasets</h1>
        <ul class="list-group mt-3">
            {% for dataset in datasets %}
                <li class="list-group-item">
                    <a href="/dataset/{{ dataset }}">{{ dataset }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
